<% include ./partials/header %>
<div class="ui main text container segment ">
    <div class="ui huge header">edit <%= blog.title %></div>

    <form class="ui form" method="POST" action="/blogs/<%= blog._id %>?_method=PUT">
        <div class="field">
            <label>title</label>
            <input type="text" name="blog[title]" value=" <%=blog.title %>" placeholder =" title">
        </div>
        <div class="field">
            <label>image</label>
            <input type="text" name="blog[image]"  value=" <%=blog.image %>"   placeholder=" image">
        </div>
        <div class="field">
            <label>blog content</label>
            <textarea name="blog[body]"> <%=blog.body %></textarea>
        </div>

        <input class="ui violet big basic button" type="submit">
    </form>

</div>

<% include ./partials/footer %>